{% extends 'base.html' %}
{% block content %}
      <div class="container" >
        
        <br>
          <h1>Bienvenido</h1>
          <p> Para acceder a alguno de nuestros servicios es necesario que cuentes con una cuenta de IBMQuantum, puedes crear una de manera gratuita.</p>
          <p>Entre nuestros servicios se encuentran:</p>
          <h3>QuantumMagicBall</h3>
          <p> Revive al famosísimo juguete, la bola mágica, esta vez en su versión más moderna: la de un oraculo virtual que usa la aleatoreidad de las computadoras cuánticas para consultar tu inquietud. Hazle tu pregunta y obtendrás con un 50/50 de probabilidad una respuesta a favor o una en contra, pero ojo, igual de troll que en los viejos tiempos, a veces te ofrecerá una respuesta neutral así que deberás preguntar de nuevo.</p>
          <div class="text-center">
          <img src= "https://i.ibb.co/jyhhFtL/cuenta-con-ello.png" alt="QuantumMagicBall" width="30%" height="auto" vertical-align="middle">
          </div>
        </div>
{% endblock %}